<a href="https://colab.research.google.com/github/23mca58/Programming-lab/blob/main/Copy_of_Python_lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Write a program to input a number if the number is greater than 10 display apropriate message
num=int(input("Enter the number : "))
if(num>10):
 print("The number is greater than 10")

Enter the number : 19
The number is greater than 10

In [ ]:
#Write a program to input the age of a person check whether the person is eligible to vote and display apropriate message
age=int(input("Enter the age of the person : "))
if(age>=18):
 print("The person is eligible to vote")
else:
 print("The person is not eligible to vote")

Enter the age of the person : 22
The person is eligible to vote

In [ ]:
#Write a program to input two numbers and find the largest number
a=int(input("Enter the first number : "))
b=int(input("Enter the second number : "))
if(a>b):
  print("The largest number is : ",a)
else:
  print("The largest number is : ",b)

Enter the first number : 2
Enter the second number : 8
The largest number is :  8

In [ ]:
#Write a program to input a number check whether the number is odd or even
num=int(input("Enter the number : "))
if(num%2==0):
  print("The number is even")
else:
  print("The number is odd")

Enter the number : 7
The number is odd

In [ ]:
#Write a program to input a number,find sum display appropriate message if the sum is geater than 10
a=int(input("Enter the first number : "))
b=int(input("Enter the second number : "))
sum=a+b;
if(sum>10):
  print("The sum is greater than 10")

Enter the first number : 5
Enter the second number : 8
The sum is greater than 10

In [ ]:
#CO1:11.Find biggest of 3 numbers entered.
a=int(input("Enter the first number : "))
b=int(input("Enter the second number : "))
c=int(input("Enter the third number : "))
if(a>b and a>c):
  print("The largest number is : ",a)
elif(b>a and b>c):
  print("The largest number is : ",b)
elif(c>a and c>b):
  print("The largest number is : ",c)

Enter the first number : 5
Enter the second number : 8
Enter the third number : 10
The largest number is :  10

In [ ]:
#Write the program to display the first n natural numbers
n=int(input("Enter the value for n : "))
for i in range(n):
  i=i+1;
  print(i)

Enter the value for n : 10
1
2
3
4
5
6
7
8
9
10

In [ ]:
#Write a program to display even numbers upto n
n=int(input("Enter the value for n : "))
for i in range(n):
  if(i%2==0):
    print(i)

Enter the value for n : 10
0
2
4
6
8

In [ ]:
#Write a program to display first n even numbers
n=int(input("Enter the value for n : "))
for i in range(n):
  print(2*i)

Enter the value for n : 6
0
2
4
6
8
10

In [ ]:
#CO1:2.Display future leap years from current year to a final year entered by user.
c=int(input("Enter the current year "))
n=int(input("Enter the final year"))
for i in range(c,n):
  if(i%4==0)and(i%100!=0)or(i%400==0):
    print(i)

Enter the current year 2023
Enter the final year2050
2024
2028
2032
2036
2040
2044
2048

In [ ]:
#CO1:10.Accept the radius from user and find area of circle.
r=float(input("Enter the radius of the circle : "))
a=(3.14*r*r);
print("Area : ",a)

Enter the radius of the circle : 4
Area :  50.24

In [ ]:
#CO1:11.Find biggest of 3 numbers entered.
a=int(input("Enter the first number : "))
b=int(input("Enter the second number : "))
c=int(input("Enter the third number : "))
if(a>b and a>c):
  print("The biggest number is : ",a)
elif(b>a and b>c):
  print("The biggest number is : ",b)
elif(c>a and c>b):
  print("The biggest number is : ",c)

Enter the first number : 5
Enter the second number : 6
Enter the third number : 8
The biggest number is :  8

In [ ]:
#CO2:1.Program to find the factorial of a number
n=int(input("Enter the number : "))
f=1;
if (n<0):
   print("Sorry, factorial does not exist")
elif (n==0):
   print("The factorial of 0 is 1")
else:
   for i in range(1,n+1):
       f = f*i
   print("The factorial of",n,"is",f)

Enter the number : 5
The factorial of 5 is 120

In [ ]:
#CO2:2.Generate Fibonacci series of N terms
n=int(input("Enter the value for n : "))
x=0
y=1
sum=0
for i in range(0,n):
     x=y
     y=sum
     sum=x+y
     print(sum)

Enter the value for n : 6
1
1
2
3
5
8

In [ ]:
#CO2:3.Find the sum of all items in a list
list = [2,6,8,9]
sum=sum(list)
print("Sum of all items in the list is ",sum)

Sum of all items in the list is  25

In [ ]:
#CO2:4.Generate a list of four digit numbers in a given range with all their digits even and the number is a perfect square.
r=[]
for i in range(1000,10000):
  if all(int(x)%2==0 for x in str(i)):
    if int(i**0.5)**2==i:
     r.append(i)
print("List of numbers : ",r)

List of numbers :  [4624, 6084, 6400, 8464]

In [ ]:
#CO2:5.Display the given pyramid with step number accepted from user. Eg: N=4
rows=int(input("Enter the number of rows : "))
i=1
while(i<=rows):
  j=1
  while(j<=i):
    print(i*j,end=' ')
    j=j+1
  print()
  i=i+1

Enter the number of rows : 5
1
2 4
3 6 9
4 8 12 16
5 10 15 20 25

In [ ]:
#CO1:3(a)Generate positive list of numbers from a given list of integers
list1=[2,5,-3,4,-9,7,6]
list2=[i for i in list1 if i>0]
print("positive numbers",list2)

positive numbers [2, 5, 4, 7, 6]

In [ ]:
#CO1:3(b)Square of N numbers
list1=[1,-2,3,-4,5]
list2=[i**2 for i in list1]
print("square of numbers",list2)

square of numbers [1, 4, 9, 16, 25]

In [ ]:
#C01:3(c)Form a list of vowels selected from a given word
w=input("Enter the word : ")
l=[i for i in w if i in"aeiouAEIOU" ]
print(l)

Enter the word : paint
['a', 'i']

In [ ]:
#CO1:3(d)List ordinal value of each element of a word (Hint: use ord() to get ordinal values)
c=input("Enter the character : ")
l=[ord(i) for i in c]
print(l)

Enter the character : abcd
[97, 98, 99, 100]

In [ ]:
#CO1:4.Count the occurrences of each word in a line of text.
n="betty bought some butter but the butter was bitter betty bought some better butter to make the bitter butter better"
w=input("Enter a word : ")
print(n.count(w))

Enter a word : butter
4

In [ ]:
#C01:6.Store a list of first names. Count the occurrences of ‘a’ within the list
n=['rachel','rishon','jessy','jolly']
for i in n:
  print("a occurs in",i,i.count('a'),"times")

a occurs in rachel 1 times
a occurs in rishon 0 times
a occurs in jessy 0 times
a occurs in jolly 0 times

In [ ]:
#CO1:5.Prompt the user for a list of integers. For all values greater than 100, store ‘over’ instead.
list=[]
n=int(input("Enter number of elements : "))
for i in range(0,n):
  e=int(input("Enter elements : "))
  if (e>100):
    list.append("over")
  else:
    list.append(e)
print(list)

Enter number of elements : 3
Enter elements : 52
Enter elements : 105
Enter elements : 100
[52, 'over', 100]

In [ ]:
#CO1:7.Enter 2 lists of integers. Check (a) Whether list are of same length (b) whether list sums to same value (c) whether any value occur in both
list1=[]
n=int(input("Enter number of elements in first list: "))
for i in range(0,n):
  e=int(input("Enter elements in first list : "))
  list1.append(e)
  list2=[]
n2=int(input("Enter number of elements in second list : "))
for i in range(0,n2):
  e2=int(input("Enter elements in second list : "))
  list2.append(e2)
if (len(list1)==len(list2)):
      print("The lists are of same length")
else:
      print("The lists are of different length")
if(sum(list1)==sum(list2)):
    print("The lists sums to same value")
else:
    print("The lists does not sum to same value")
    print("Values that occur in both lists are")
    for i in list1:
      for j in list2:
        if(i==j):
          print(i)

Enter number of elements in first list: 1
Enter elements in first list : 1
Enter number of elements in second list : 3
Enter elements in second list : 1
Enter elements in second list : 2
Enter elements in second list : 3
The lists are of different length
The lists does not sum to same value
Values that occur in both lists are
1

In [ ]:
#CO1:8.Get a string from an input string where all occurrences of first character replaced with ‘$’, except first character.
s=input("Enter string : ")
s1=s[0]+s[1:].replace(s[0],'$')
print(s1)

Enter string : remember
remembe$

In [ ]:
#CO1:9.Create a string from given string where first and last characters exchanged.
name="rachel"
name[-1]+name[1:-1]+name[0]

'lacher'

In [ ]:
#CO1:13.Create a list of colors from comma-separated color names entered by user. Display first and last colors
list=[]
n=int(input("Enter number of colours in the list: "))
for i in range(0,n):
  e=input()
  list.append(e)
print("The list of colours : ",list)
print("The first colour in the list is ",list[0])
print("The last colour in the list is ",list[-1])

Enter number of colours in the list: 4
Black
Indigo
Green
White
The list of colours :  ['Black', 'Indigo', 'Green', 'White']
The first colour in the list is  Black
The last colour in the list is  White

In [ ]:
#CO1:12.Accept a file name from user and print extension of that.
f=input("Enter file name : ")
r=f.split(".")
print(r[1])

Enter file name : file.html
html

In [ ]:
#CO1:14.Accept an integer n and compute n+nn+nnn.
n=int(input("Input an integer : "))
n1=n
n2=n*n
n3=n*n*n
print(n1+n2+n3)

Input an integer : 4
84

In [ ]:
#CO1:15.Print out all colors from color-list1 not contained in color-list2.
color_list1=[]
n=int(input("Enter number of colours in first list: "))
for i in range(0,n):
  e=input("Enter colours in first list : ")
  color_list1.append(e)
  color_list2=[]
n2=int(input("Enter number of colours in second list : "))
for i in range(0,n2):
  e2=input("Enter colours in second list : ")
  color_list2.append(e2)
  r = [color for color in color_list1 if color not in color_list2]
for color in r:
    print(color)

Enter number of colours in first list: 4
Enter colours in first list : White
Enter colours in first list : Red
Enter colours in first list : Yellow
Enter colours in first list : Black
Enter number of colours in second list : 3
Enter colours in second list : Yellow
Enter colours in second list : Green
Enter colours in second list : Blue
White
Red
Black

In [ ]:
#CO1:16.Create a single string separated with space from two strings by swapping the character at position 1.
string1 = input("Enter the first string : ")
string2 = input("Enter the second string : ")
if len(string1) > 1 and len(string2) > 1:
    list1 = list(string1)
    list2 = list(string2)
    list1[1], list2[1] = list2[1], list1[1]
    result = "".join(list1) + " " + "".join(list2)
else:
    result = string1 + " " + string2
print(result)

Enter the first string : rachel
Enter the second string : rishon
richel rashon

In [ ]:
#CO1:17.Sort dictionary in ascending and descending order.
d={'Rachel':3,'Rishon':4,'Jessy':2,'Jolly':1,'Anna':5}
print("Ascending order : ",dict(sorted(d.items())))
print("Descending order : ",dict(sorted(d.items(),reverse=True)))

Ascending order :  {'Anna': 5, 'Jessy': 2, 'Jolly': 1, 'Rachel': 3, 'Rishon': 4}
Descending order :  {'Rishon': 4, 'Rachel': 3, 'Jolly': 1, 'Jessy': 2, 'Anna': 5}

In [ ]:
#CO1:18.Merge two dictionaries.
d1={'Rachel':3,'Rishon':4,'Jessy':2,'Jolly':1}
d2={'Tina':9,'Nina':6,'Anna':5,'Tim':8,'Mike':7}
print("Merged dictionaries : ",d1|d2)

Merged dictionaries :  {'Rachel': 3, 'Rishon': 4, 'Jessy': 2, 'Jolly': 1, 'Tina': 9, 'Nina': 6, 'Anna': 5, 'Tim': 8, 'Mike': 7}

In [ ]:
#CO1:19.Find gcd of 2 numbers.
x=int(input("Enter the first number : "))
y=int(input("Enter the second number : "))
if x>y:
 x,y=y,x
for i in range(1,x+1):
  if x%i==0 and y%i==0:
    gcd=i
print("GCD of", x, "and", y, "is:", gcd)

Enter the first number : 6
Enter the second number : 18
GCD of 6 and 18 is: 6

In [ ]:
#CO1:20.From a list of integers, create a list removing even numbers.
n=int(input("Enter the number of integers : "))
l=[]
ol=[]
for i in range(1,n+1):
 num=int(input("Enter the number:"))
 l.append(num)
print("List before removal of even numbers : ",l)
ol=[i for i in l if i%2!=0]
print("List after removal of even numbers : ",ol)

Enter the number of integers : 4
Enter the number:1
Enter the number:2
Enter the number:3
Enter the number:4
List before removal of even numbers :  [1, 2, 3, 4]
List after removal of even numbers :  [1, 3]

In [ ]:
#CO2:6.Count the number of characters (character frequency) in a string
s=input("Enter a string : ")
char_freq={}
print("Length of the string : ",len(s))
for char in s:
  if char.isalpha() or char.isspace():
    char=char.lower()
    char_freq[char]=char_freq.get(char,0)+1
for char,freq in char_freq.items():
  print(f"'{char}' occurs {freq} times")

Enter a string : swimming
Length of the string :  8
's' occurs 1 times
'w' occurs 1 times
'i' occurs 2 times
'm' occurs 2 times
'n' occurs 1 times
'g' occurs 1 times

In [ ]:
#CO2:7.Add ‘ing’ at the end of a given string. If it already ends with ‘ing’, then add ‘ly’
s1=input("Enter a string : ")
if s1.endswith('ing'):
  s2=s1+'ly'
else:
  s2=s1+'ing'
print(s2)

Enter a string : willing
willingly

In [ ]:
#CO2:8.Accept a list of words and return length of longest word.
n=int(input("Enter the size of the list : "))
print("Enter words in the list : ")
a=[input() for i in range(n)]
max=len(a[0])
temp=a[0]
for i in a:
 if len(i)>max:
  max=len(i)
  temp=i
print("The longest word is",temp,"with length ",max)

Enter the size of the list : 5
Enter words in the list :
kitty
pin
inside
home
fit
The longest word is inside with length  6

In [ ]:
#CO2:9.Construct following pattern using nested loop
from numpy.lib.function_base import i0
n=int(input("Enter a number : "))
for i in range(1,n+1):
 print("*"*i)
for i in range(n-1,0,-1):
 print("*"*i)

Enter a number : 5
*
**
***
****
*****
****
***
**
*

In [ ]:
#CO2:10.Generate all factors of a number.
n=int(input("Enter a number:"))
print("The factors are:")
print(end="")
for i in range(1,n+1):
 if(n%i==0):
  print(i)

Enter a number:56
The factors are:
1
2
4
7
8
14
28
56

In [ ]:
#CO2:11.Write lambda functions to find area of square, rectangle and triangle.
import math
s=int(input("Enter the side of the square : "))
area=lambda side:s*S
print("Area of the square : ",s*s)
a=int(input("Enter the length of the rectangle : "))
b=int(input("Enter the breadth of the rectangle : "))
area=lambda a,b:a*b
print("Area of the rectangle : ",a*b)
p=int(input("Enter the base of the triangle : "))
q=int(input("Enter the altitude : "))
area=lambda p,q:0.5*P*Q
print("Area of the triangle : ",0.5*p*q)

Enter the side of the square : 4
Area of the square :  16
Enter the length of the rectangle : 2
Enter the breadth of the rectangle : 5
Area of the rectangle :  10
Enter the base of the triangle : 5
Enter the altitude : 6
Area of the triangle :  15.0